@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap");

html {
    background-color: #282c34;
    text-align: center;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
code {
    justify-content: center;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
    font-size: 5vmin;
    color: #9b7abe;
}

.code-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b3d43;
    padding: 15px;
    width: 80%;
}

p {
    margin: 0;
    padding: 0;
}

.width-80 {
    width: 80%;
}
.App {
    /* text-align: center; */
    background-color: #282c34;
    font-family: "Poppins", sans-serif;
    color: white;
}

.scroll-container {
    padding-top: 40px;
}

.App-logo {
    height: 30vmin;
    pointer-events: none;
}

.full-page {
    min-height: 100vh;
    /* scroll-snap-align: start; */
}
.App-header {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.App-link {
    color: #61dafb;
}

.headline {
    font-size: 8vmin;
    font-weight: 500;
    padding-top: 2vmin;
    margin-top: 4vmin;
    margin-bottom: 1vmin;
}

.section-headline {
    font-size: 15vmin;
}

.navbar {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: #282c34;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 50px;
}

/* Links inside the navbar */
.navbar a {
    color: #9b7abe;
    transition: 0.3s;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
    font-weight: 700;
    border-radius: 8%;
}

/* Change background on mouse-over */
.navbar a:hover {
    cursor: pointer;
    background: #171a1e;
}

#scroll-to-top-btn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #494c54; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#scroll-to-top-btn:hover {
    background-color: #22242a; /* Add a dark-grey background on hover */
}

.tables-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.course-table {
    margin: 5vmin 0;
    border: medium solid #9b7abe;
}
.header-row > th {
    height: 1vmin;
    margin: 0px 100px;
    padding: 5px;
    font-size: 10vmin;
    border-bottom: medium solid #9b7abe;
}

.booking-para {
    padding: 10px;
    font-size: 5vmin;
    padding: 5vmin;
}

.booking-para > a {
    color: white;
}

.booking-para > a:hover {
    color: red;
}

.booking-para > a:visited {
    color: white;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .section-headline {
        font-size: 8vmin;
    }
    .tables-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .course-table {
        margin: 5vmin 5vmin;
    }

    .header-row > th {
        padding: 5px 10vmin;
        font-size: 5vmin;
        border-bottom: medium solid #9b7abe;
    }

    code {
        font-size: 3vmin;
    }

    .booking-para {
        font-size: 3vmin;
    }
}
.popup {
    width: 400px;
    background:  #282c34;
    border: medium solid #9b7abe;
    position: absolute;
    top: 170%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    color: #fff;
    visibility: hidden;
}

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button{
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    background: #494c54;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}

/* Change background on mouse-over */
.popup button:hover {
    cursor: pointer;
    background: #171a1e;
}

.open-popup{
    visibility: visible;
}

.course{
    background:  #282c34;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 2vmin;
    border-radius: 4px;
    cursor: pointer;
}

.course:hover{
    background: #171a1e;
}

h3 {
    margin-bottom: -3px;
}

.availability{
    margin: 0 auto;
}

.day{
    border:1px solid #9b7abe;
    padding:10px;
}

